
:root {
    --font-size: medium; /* Default font size */
    --font-color: #000000; /* Default font color */
  }
  
  body {
    font-size: var(--font-size);
    color: var(--font-color);


    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }

.container {
    display: flex;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-section {
    flex: 2;
    padding: 20px;
}

.summary-section {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #cccccc;
}

h2 {
    text-align: center;
    color: #333333;
}

.saved-info {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.change-address {
    text-align: right;
}

.product-list {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.product-list img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.product-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkout-button {
    width: 100%;
    padding: 10px;
    background-color: #fbbe28;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.checkout-button:hover {
    background-color: #e0a822;
}

.list-group-item {
    cursor: pointer; /* Change cursor to pointer on hover */
}

.list-group-item:hover {
    background-color: #e9ecef; /* Lighten background on hover for better visibility */
}