body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #ffffff;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form a {
    color: #fbbe28;
}

.login-form a:hover {
    text-decoration: underline;
}

.forgot-password {
    color: #007bff;
}

.forgot-password:hover {
    text-decoration: underline;
}

.custom-form-control {
    width: 100%;
    padding: 7px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 16px;
    text-align: left;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-form-control:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-group {
    position: relative;
}

.input-group .custom-form-control {
    padding-right: 100px; /* Add padding for button space */
}

.input-group .btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%; /* Match the height of the input */
    border-radius: 0 0.25rem 0.25rem 0; /* Round only the right corners */
}